bs4
colorama
wcwidth
requests
ffmpy
inquirer
pycountry
tqdm
future
cssutils
pycaption
pymediainfo
isodate
untangle
tldextract
unidecode
yarl
natsort
titlecase
prettytable
termcolor
pproxy
pysrt
protobuf
pycryptodomex
https://dl.dropboxusercontent.com/scl/fi/sb81vexqug5xs0xyvoowz/amzndltools.zip?rlkey=sv0wsjb9797xy21pm2hgij45l&st=t7ozo0gg&dl=0
